{{template "_head.html" .}}

<h1><img alt=Logo src='{{.pathPrefix}}/assets/icon-180.png'> Httpbun</h1>

<p>This is a service to help easily test the behaviour of HTTP clients like browsers, libraries, developer tools or
    anything else. Inspired by <a href='http://httpbin.org' target=_blank rel=noopener>httpbin</a>. I made this because
    httpbin lacked some things I needed, like:</p>

<ol>
    <li>The <code>/mix</code> endpoint, and the <a href="{{.pathPrefix}}/mixer">Mixer</a>.
    <li>The <code>/run</code> endpoint, and the <a href="{{.pathPrefix}}/runner">Runner</a>.
    <li>The <a href=#payload>/payload endpoint</a>.
    <li>Allowing request body in <a href=#get>/get endpoint</a>.
    <li>Accept <em>any</em> method in <a href=#headers>/headers</a> and most other such endpoints.
    <li>Not <a href="https://github.com/postmanlabs/httpbin/blob/f8ec666b4d1b654e4ff6aedd356f510dcac09f83/httpbin/helpers.py#L40">hiding some headers</a> in responses.
    <li>More practical handling of unescaped special characters in <code>x-www-form-urlencoded</code> payloads.
</ol>

Hosted versions:

<ol>
    <li>Canonical version is at <a href='https://httpbun.com'>httpbun.com</a>.
    <li>At <a href="https://ant.httpbun.com">ant.httpbun.com</a>, <a href="https://bat.httpbun.com">bat.httpbun.com</a>,
        <a href="https://cat.httpbun.com">cat.httpbun.com</a>, <a href="https://dog.httpbun.com">dog.httpbun.com</a> as
        alternate hosts to the same thing as the canonical version. These can be useful when testing load balancers and
        load balancing algorithms.
    <li>At <a href="https://any.httpbun.com">any.httpbun.com</a>, with
        <a href=#configuration-root-is-any><code>--root-is-any</code></a> enabled.
    <li><code>https://self-signed-cert.httpbun.com</code> that uses a self-signed HTTPS certificate.
</ol>

<p><span style='font-size:1.6em'>★</span> Star this project on <a href='https://github.com/sharat87/httpbun' rel=noopener>GitHub</a>.</p>

<h2 id=endpoints>Endpoints <a href="#endpoints">&para;</a></h2>

<dl>

    <dt id=get>/get</dt>
    <dt id=post>/post</dt>
    <dt id=put>/put</dt>
    <dt id=patch>/patch</dt>
    <dt id=delete>/delete</dt>
    <dd>Accepts GET/POST/... requests and responds with a JSON object with form body, query params, headers and a few
        other information about the request.
        <details>
            <summary><span>Examples</span></summary>
            <pre>curl {{.host}}/get</pre>
            <pre>curl -X POST -d 'one=1' {{.host}}/post</pre>
            <pre>curl -X POST -d '{"one": 1}' -H 'content-type:application/json' {{.host}}/post</pre>
            <pre>curl -X PUT {{.host}}/put</pre>
            <pre>curl -X PATCH {{.host}}/patch</pre>
            <pre>curl -X DELETE {{.host}}/delete</pre>
        </details>
    </dd>

    <dt id=any>/any</dt>
    <dt>/any/<span class=var>{extraPath}</span></dt>
    <dd>Acts like <a href=#get>/get</a>, <a href=#post>/post</a> etc., but works on any method, and any extra path after
        <code>/any</code> is also accepted.</dd>

    <dt id=headers>/headers</dt>
    <dd>Responds with a JSON object with a single field, <code>headers</code> which is an object of all the headers in
        the request, as keys and values. If a header repeats in the request, then its values are concatenated with a
        comma and treated as a single header value.
        <details>
            <summary><span>Examples</span></summary>
            <pre>curl -H 'x-custom: custom header value' {{.host}}/headers</pre>
        </details>
    </dd>

    <dt id=payload>/payload</dt>
    <dd>Responds with the same <code>Content-Type</code> header as the request and the body of the request as is.
        <details>
            <summary><span>Examples</span></summary>
            <pre>curl -H 'Content-Type: text/plain' -d 'plain body' {{.host}}/payload</pre>
            <pre>curl -H 'Content-Type: application/json' -d '{"a": 1}' {{.host}}/payload</pre>
        </details>
    </dd>

</dl>

<h3 id=authentication>Authentication <a href="#authentication">&para;</a></h3>

<dl>

    <dt id=basic-auth>/basic-auth/<span class=var>{username}</span>/<span class=var>{password}</span></dt>
    <dd>Requires basic authentication with <code>username</code> and <code>password</code> as the credentials.
        <details>
            <summary><span>Examples</span></summary>
            <pre>curl -H 'Authorization: Basic c2NvdHQ6dGlnZXI=' {{.host}}/basic-auth/scott/tiger</pre>
        </details>
    </dd>

    <dt id=bearer>/bearer</dt>
    <dt id=bearer-token>/bearer/<span class=var>{expectedToken}</span></dt>
    <dd>Requires bearer authentication. Which needs an <code>Authorization</code> header in the request, that takes the
        form <code>Bearer some-auth-token-here</code>. If no <code>expectedToken</code> is given, any token will be
        treated as valid. If no <code>Authorization</code> header is present in the request, this results in a 401
        response.
        <details>
            <summary><span>Examples</span></summary>
            <pre>curl -H 'Authorization: Bearer auth_token_here' {{.host}}/bearer</pre>
            <pre>curl -H 'Authorization: Bearer expected_token' {{.host}}/bearer/expected_token</pre>
        </details>
    </dd>

    <dt id=digest-auth>/digest-auth/<span class=var>{username}</span>/<span class=var>{password}</span>
    <dt id=digest-auth-qop>/digest-auth/<span class=var>{qop}</span>/<span class=var>{username}</span>/<span class=var>{password}</span>
    </dt>
    <dd>Digest authentication. The endpoint <code>/digest-auth/auth/scott/tiger</code> requires to be authenticated with
        the credentials <code>scott</code> and <code>tiger</code> as username and password. The implementation is based
        on <a href='https://en.wikipedia.org/wiki/Digest_access_authentication#Example_with_explanation' target=_blank
           rel=noopener>this example from Wikipedia</a>. The value of <code>qop</code> defaults to <code>auth</code>.
    </dd>

</dl>

<h3 id=client-details>Client Details <a href="#client-details">&para;</a></h3>

<dl>

    <dt id=ip>/ip</dt>
    <dt id=ip-txt>/ip.txt</dt>
    <dd>Responds with a JSON object with a single field, <code>origin</code>, with the client's IP Address for value.
    </dd>

</dl>

<h3 id=caching>Caching <a href="#caching">&para;</a></h3>

<dl>

    <dt id=cache>/cache</dt>
    <dd>If the request contains an <code>If-Modified-Since</code> or <code>If-None-Match</code> header, returns a 304
        response. Otherwise, it behaves the same as <a href=#get><code>/get</code></a> for GET requests,
        <a href=#post><code>/post</code></a> for POST requests, etc.
    </dd>

    <dt id=cache-aged>/cache/<span class=var>{age}</span></dt>
    <dd>Sets a <code>Cache-Control</code> header for <code>age</code> seconds.</dd>

    <dt id=etag>/etag/<span class=var>{etag}</span></dt>
    <dd>Assumes the resource has the given etag and responds to
        <a href='https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match' target=_blank rel=noopener>If-None-Match</a>
        and <a href='https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-Match' target=_blank rel=noopener>If-Match</a>
        headers appropriately.
    </dd>

</dl>

<h3 id=client-tuned-responses>Client Tuned Response <a href="#client-tuned-responses">&para;</a></h3>

<dl>

    <dt id=status>/status/<span class=var>{codes}</span></dt>
    <dd>Responds with the HTTP status as given by <code>codes</code>. It can be a comma-separated list of multiple
        status codes, of which a random one is chosen for the response.
    </dd>

    <dt id=response-headers>/response-headers</dt>
    <dt id=respond-with-headers>/respond-with-headers</dt>
    <dd>Sends given query parameters as headers in the response. For example, in the response from
        <code>/response-headers?one=two</code>, there is a header called <code>One</code>, whose value is
        <code>two</code>.
        The response body contains all the headers again, in the form of a JSON object. (This JSON object in the
        response should be considered deprecated, and may be removed in the future.)
    </dd>

    <dt id=deny>/deny</dt>
    <dd>Returns page denied by robots.txt rules.</dd>

    <dt id=html>/html</dt>
    <dd>Returns a small HTML document than can trigger XSS, in vulnerable places.</dd>

    <dt id=robots>/robots.txt</dt>
    <dd>Returns some robots.txt rules.</dd>

    <dt id=base64>/base64</dt>
    <dt id=base64-with-input>/base64/<span class=var>{encoded}</span></dt>
    <dd>Decodes the <code>encoded</code> text with base64 encoding scheme. Defaults to
        <code>SFRUUEJVTiBpcyBhd2Vzb21lciE=</code>.
    </dd>

    <dt id=bytes>/bytes/<span class=var>{count}</span></dt>
    <dd>Returns <code>count</code> random bytes in the response. The <code>Content-Type</code> header is set to
        <code>application/octet-stream</code>. The randomness is not cryptographically secure.
    </dd>

    <dt id=delay>/delay/<span class=var>{seconds}</span></dt>
    <dd>Respond with a delay of <code>seconds</code> seconds. The <code>seconds</code> parameter can be a positive
        integer or floating point number.
    </dd>

    <dt id=drip>/drip</dt>
    <dt id=drip-lines>/drip-lines</dt>
    <dd>Drips data over a duration, with an interval between each piece of data. The piece of data is the <code>*</code>
        character. The following query params can be used to configure this endpoint:
        <ul>
            <li><code>duration</code>: Total number of seconds over which to stream the data. <em>Default: 2</em>.
            <li><code>numbytes</code>: Total number of bytes to stream. <em>Default: 10</em>.
            <li><code>code</code>: The HTTP status code to be used in their response. <em>Default: 200</em>.
            <li><code>delay</code>: An initial delay, in seconds. <em>Default: 2</em>.
        </ul>
        When using <code>/drip-lines</code>, a newline character is written after every piece of data.
    </dd>

    <dt id=sse>/sse</dt>
    <dd>Responds with 10 <a href="https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events">
        Server sent events</a>, each after 1s of delay. The count and delay aren't configurable today.
    </dd>

    <dt id=links>/links/<span class=var>{count}</span></dt>
    <dt id=links-offset>/links/<span class=var>{count}</span>/<span class=var>{offset}</span></dt>
    <dd>Returns an HTML document with <code>count</code> links, which in turn respond with HTML documents with links
        again. You mostly want to use the first version (<em>i.e.</em>, without <code>offset</code>).
    </dd>

    <dt id=range>/range/<span class=var>{count}</span></dt>
    <dd>Returns <code>count</code> random bytes, that are generated with the <em>same</em> random seed every time. The
        value of <code>count</code> is capped to 1000.
    </dd>

</dl>

<h3 id=cookie-data>Cookie Data <a href="#cookie-data">&para;</a></h3>

<dl>

    <dt id=cookies>/cookies</dt>
    <dd>Returns cookie data from the request headers.</dd>

    <dt id=cookies-set-query>/cookies/set</dt>
    <dd>Sets cookies for all given query params.</dd>

    <dt id=cookies-set-path>/cookies/set/<span class=var>{name}</span>/<span class=var>{value}</span></dt>
    <dd>Set the cookie <code>name</code> to <code>value</code>.</dd>

    <dt id=cookies-delete>/cookies/delete</dt>
    <dd>Returns a response that will delete cookies in the browser. Cookies to be deleted should be given as query
        params. The values of these query params are ignored and can be empty.
    </dd>

</dl>

<h3 id=redirects>Redirects <a href="#redirects">&para;</a></h3>

<dl>

    <dt id=redirect>/redirect</dt>
    <dt id=redirect-to>/redirect-to</dt>
    <dd>Responds with a redirect to the URL given by the <code>url</code> query param. If a <code>status</code>
        query param is also given, it is used as the HTTP Status code in the response. Otherwise, 302 is used.
    </dd>

    <dt id=redirect-count>/redirect/<span class=var>{count}</span></dt>
    <dt id=relative-redirect>/relative-redirect/<span class=var>{count}</span></dt>
    <dd>Redirect <code>count</code> times. For example, <code>/redirect/3</code> will redirect three times before
        settling on a response. The redirect URLs specified in the <code>Location</code> header will be
        <em>relative</em> URLs.
    </dd>

    <dt id=absolute-redirect>/absolute-redirect/<span class=var>{count}</span></dt>
    <dd>Redirect <code>count</code> times. For example, <code>/redirect/3</code> will redirect three times before
        settling on a response. The redirect URLs specified in the <code>Location</code> header will be
        <em>absolute</em> URLs.
    </dd>

</dl>

<h3 id=mix>Mix <a href="#mix">&para;</a></h3>

<dl>

    <dt>/mix</dt>
    <dd>
    Combine behaviour from multiple of other endpoints, into one. For example, if we want an endpoint with some
    response headers, as well as a specific status code, we can use:
        <pre>/mix/s=400/h=x-custom-header:some-value</pre>
    The <code>s=</code> and <code>h=</code> are directives that <code>/mix</code> understands. Supported directives are:
    <ol>
        <li><code>s</code>: HTTP response status code.
        <li><code>h</code>: Set a response header, in the form <code>name:value</code>.
        <li><code>c</code>: Set a cookie, in the form <code>name:value</code>.
        <li><code>r</code>: Set a redirect URL. Uses status code 307. To change, use <code>s=</code> directive.
        <li><code>b64</code>: Set the response body to the base64 decoded value.
        <li><code>t</code>: The base64 decoded value of this, is rendered as a Golang text template, and the result is
            used as the response body.
        <li><code>end</code>: Takes no value, marks the end of directive processing. Path segment after this is ignored
            by Httpbun.
    </ol>
    <br>Learn more in the <a href=mixer-guide>guide</a>, and use the <a href=mixer>mixer</a> for a UI to build these URLs.
    </dd>

</dl>

<h2 id=self-hosting>Self Hosting <a href="#self-hosting">&para;</a></h2>

<p>With Docker: <code>docker run -p 80:80 sharat87/httpbun</code></p>

<p>From source, with <a href="https://taskfile.dev" rel="noopener noreferrer">task</a> installed: <code>task run</code></p>

<h2 id=configuration>Configuration <a href="#configuration">&para;</a></h2>

<dl>

    <dt id=configuration-bind>--bind</dt>
    <dd>The network address to bind the server to. Defaults to <code>localhost:3090</code>, which configures the server
        to listen on TCP port 3090 on localhost.<br>
        This option can also be set with the <code>HTTPBUN_BIND</code> environment variable.
    </dd>

    <dt id=configuration-path-prefix>--path-prefix</dt>
    <dd>Sets a path prefix for <em>all</em> the paths in Httpbun. For example, if this is set to <code>the-one</code>,
        then the <code>/get</code> endpoint will be available on <code>/the-one/get</code>. Similarly, all other
        endpoints are also prefixed with the value of this argument.
    </dd>

    <dt id=configuration-root-is-any>--root-is-any</dt>
    <dd>If provided, all endpoint routes are disabled, and all endpoints behave like <code>/any</code>. This means that
        when this option is given, all HTML pages will also become inaccessible. Like the homepage, Mixer UI, help pages
        etc. A hosted instance with this option enabled is available at
        <a href="https://any.httpbun.com">any.httpbun.com</a>.
    </dd>

</dl>

<h2 id=license>License</h2>

<p>Httpbun is distributed with the Apache-2.0 License. Please refer to the
    <a href='https://github.com/sharat87/httpbun/blob/master/LICENSE' rel=noopener>LICENSE</a> and
    <a href='https://github.com/sharat87/httpbun/blob/master/NOTICE' rel=noopener>NOTICE</a> files present in the
    source distribution of this project.</p>

<h2 id=credits>Credits</h2>

<ol>
    <li><a href='http://httpbin.org' target=_blank rel=noopener>httpbin</a>. This project might not have existed, if not
        for httpbin.
    <li>Go's excellent documentation. This project might've taken a hell of a lot longer, if not for Go's docs.
</ol>

<p>The bun icon was generated using the following graphics from Twitter Twemoji:</p>

<ul>
    <li>Graphics Title: <code style='background:none'>1fad3.svg</code>.
    <li>Graphics Author: <a href='https://github.com/twitter/twemoji'>Copyright 2020 Twitter, Inc and other
        contributors</a>.
    <li><a href='https://github.com/twitter/twemoji/blob/master/assets/svg/1fad3.svg'>Graphics Source</a>.
    <li>Graphics License: <a href='https://creativecommons.org/licenses/by/4.0/'>CC-BY 4.0</a>.
</ul>

<script>{{template "index.js"}}</script>

{{template "_foot.html" .}}
