<!doctype html>
<html lang=en>
<meta charset=utf-8>
<title>Mixer - Httpbun</title>
<link rel=canonical href="https://httpbun.com/mixer">

<meta name=viewport content="width=device-width">

<link rel=apple-touch-icon sizes=180x180 href="{{.pathPrefix}}/icon-180.png">
<link rel=icon type=image/png sizes=32x32 href="{{.pathPrefix}}/icon-32.png">
<link rel=icon type=image/png sizes=16x16 href="{{.pathPrefix}}/icon-16.png">
<link rel=manifest href="{{.pathPrefix}}/site.webmanifest">

<link rel=preconnect href="https://fonts.gstatic.com">
<link rel=stylesheet href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap">

<style>{{template "styles.css"}}</style>

<h1><img alt=Logo src='{{.pathPrefix}}/icon-180.png'> Mixer &mdash; <a style="color: inherit" href="/{{.pathPrefix}}">Httpbun</a></h1>

<p>Combine multiple request functionalities into one.</p>

<noscript><p style="color:red">This page requires JavaScript. Please enable it.</p></noscript>

<p id=urlMismatchMessage style="display:none">Note: Below URL is different from the one in the browser URL bar.</p>

<p style="cursor:pointer;text-align:center"><a id=url>https://httpbun.com/mix/...</a><br>Click to copy</p>

<form id=form></form>

<p id=addBtns>
	Add:
	<button data-directive=s no-repeat>Status</button>
	<button data-directive=h>Header</button>
	<button data-directive=c>Set-Cookie</button>
	<button data-directive=cd>Delete Cookie</button>
	<button data-directive=r no-repeat>Redirect To</button>
	<button data-directive=b64 no-repeat>Body</button>
	<button data-directive=d no-repeat>Delay</button>
</p>

<script>
const URL_MIX_ENTRIES = {{.mixEntries}}
{ {{template "mixer.js"}} }
</script>

<footer>
    <p>A project by <a href='https://sharats.me' target=_blank rel=noopener>Shri</a>.
        {{- if .serverSpec.Commit}}
        Built from <a href="https://github.com/sharat87/httpbun/tree/{{.serverSpec.Commit}}">{{.serverSpec.CommitShort}}</a> on {{.serverSpec.Date}}.
        {{- end}}</p>
</footer>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"></noscript>
