{{template "_head.html" .}}

<h1><img alt=Logo src='{{.pathPrefix}}/icon-180.png'> Mixer &mdash; <a style="color: inherit" href="/{{.pathPrefix}}">Httpbun</a></h1>

<p>Combine multiple functionalities into one endpoint.</p>

<noscript><p style="color:red">This page requires JavaScript. Please enable it.</p></noscript>

<p id=urlMismatchMessage style="display:none">Note: Below URL is different from the one in the browser URL bar.</p>

<p style="cursor:pointer;text-align:center"><a id=url>https://httpbun.com/mix/...</a><br>Click to copy</p>

<form id=form></form>

<p id=addBtns>
	Add:
	<button data-directive=s no-repeat>Status</button>
	<button data-directive=h>Header</button>
	<button data-directive=c>Set-Cookie</button>
	<button data-directive=cd>Delete Cookie</button>
	<button data-directive=r no-repeat>Redirect To</button>
	<button data-directive=b64 no-repeat>Body</button>
	<button data-directive=t no-repeat>Template</button>
	<button data-directive=d no-repeat>Delay</button>
</p>

<script>
const URL_MIX_ENTRIES = {{.mixEntries}}
{ {{template "mixer.js"}} }
</script>

{{template "_foot.html"}}
