{{template "_head.html" .}}

<h1><img alt=Logo src='{{.pathPrefix}}/icon-180.png'> Mixer &mdash; <a style="color: inherit" href="/{{.pathPrefix}}">Httpbun</a></h1>

<p style="font-size: 1.2em">Build your own API endpoint, by combining multiple functionalities into one endpoint.</p>

<noscript><p style="color:red">This page requires JavaScript. Please enable it.</p></noscript>

<url-pane id=urlPane class=flex>
    <a target=m style="flex-basis:100%">https://httpbun.com/mix/...</a>
    <button data-format="%">Copy URL</button>
    <button data-format="curl '%'">Copy <code>curl</code></button>
    <button data-format="http '%'">Copy <code>httpie</code></button>
    <em id=urlMismatchMessageEl style="display:none">Note: Below URL is different from the one in the browser URL bar.</em>
</url-pane>

<form id=form style="margin:2.6em 0"></form>

<p id=addBtns class=flex>
	<span style="margin-right:6px">Add:</span>
	<button data-directive=s no-repeat>Status</button>
	<button data-directive=h>Header</button>
	<button data-directive=c>Set-Cookie</button>
	<button data-directive=cd>Delete Cookie</button>
	<button data-directive=r no-repeat>Redirect To</button>
	<button data-directive=b64 no-repeat>Body</button>
	<button data-directive=t no-repeat>Template</button>
	<button data-directive=d no-repeat>Delay</button>
</p>

<style>
.entry :is(input, textarea) {
    flex: 1;
}
.entry + .entry {
    margin-top: .6em;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .4em;
}
</style>

<script>
{{template "mixer.js"}}
</script>

{{template "_foot.html"}}
