{{template "_head.html" .}}

<h1><img alt=Logo src='{{.pathPrefix}}/assets/icon-180.png'> Runner &mdash; <a href="/{{.pathPrefix}}">Httpbun</a></h1>

<p style="font-size:1.2em">Build your own API endpoint, by writing Javascript to handle the request.</p>

<p style="color:red">This is undocumented, experimental, and may/will disappear some day, with little notice.</p>

<noscript><p style="color:red">This page requires JavaScript. Please enable it.</p></noscript>

<url-pane id=urlPane></url-pane>

<label>
<span>Javascript code:</span>
<textarea id=editor autofocus style="display:block;width:100%" rows=20>return {
    status: 400,
    body: "Httpbun is awesome!"
}</textarea>
</label>

<script>
{{template "common.js" .}}
{{template "runner.js"}}
</script>

{{template "_foot.html"}}
