html {
	background: #fff;
	color: #333;
	scroll-behavior: smooth;
	scrollbar-color: currentColor transparent;
	scrollbar-width: thin;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	padding: 0 6px;
	font: 18px system-ui, sans-serif;
	max-width: 960px;
	line-height: 1.4;
	overflow-wrap: break-word;
}

.banner {
	padding: .5em;
	margin-bottom: 1em;
	background-image: linear-gradient(to top, #0004, #fff4);
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -1px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}

h1 {
	margin-top: 6px;
	font-size: 3em;
	letter-spacing: -2px;
}

h1 img {
	height: 1em;
	vertical-align: text-top;
}

h1 a {
	color: inherit;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.5em;
}

h2, h3 {
	margin: 2em 0 .5em;
}

:is(h2, h3) > a {
	display: none;
	font-size: .5em;
	text-decoration: none;
}

:is(h2, h3):hover > a {
	display: initial;
}

a {
	color: #00f;
}

dt, code {
	font-family: Menlo, 'Cascadia Code', Consolas, Monaco, monospace;
	font-size: .9em;
}

dt {
	font-weight: bold;
	font-size: 1.1rem;
	padding: 0;
}

dd + dt {
	margin-top: 2rem;
}

dt .var {
	color: #272;
	border-radius: 3px;
}

dd {
	margin-left: 3em;
}

code, pre {
	background: #eee;
	border-radius: 1px;
}

code {
	padding: 0 3px;
}

pre {
	margin: 1em 2em;
	padding: .5em;
	overflow-x: auto;
}

::placeholder {
	font-style: italic;
}

input, select, button {
	font: inherit;
}

input[type=checkbox] {
	transform: scale(1.3);
	margin-right: 9px;
}

input[type=submit] {
	border: none;
	border-radius: 3px;
	padding: 6px 1em;
	opacity: .8;
}

input[type=submit]:hover {
	opacity: 1;
}

label {
	display: block;
	margin: .3em 0;
}

label, input[type=submit], input[type=checkbox] {
	cursor: pointer;
}

footer {
	margin: 3rem 0 1rem;
	padding: 1rem 0 0;
	border-top: 1px solid #ddd;
	text-align: center;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: .4em;
}

.grid {
	display: grid;
	grid: auto auto / 160px auto;
	gap: .4em;
}

form label {
	text-align: right;
	height: 1.4em;
	line-height: 1.4em;
	margin: 3px 0;
}

.entry {
	display: flex;
	flex-wrap: wrap;
	gap: .4em;
}

summary {
	cursor: pointer;
	margin: 6px 0;
}

input, textarea {
	min-width: 30px;
}

input {
	font: inherit;
	height: 1.4em;
	line-height: 1.4em;
}

textarea {
	font-size: inherit;
}

button, select {
	cursor: pointer;
	display: inline-block;
}

url-pane a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#urlBox {
	white-space: nowrap;
	overflow-x: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
}

.ghost {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 500;
	font-weight: bold;
	cursor: default;
	pointer-events: none;
	animation: ghost-up 1s ease-out;
	page-break-inside: avoid;
}

@keyframes ghost-up {
	from {
		opacity: 1;
		transform: translateY(-.5em) scale(1.5);
	}
	to {
		opacity: 0;
		transform: translateY(-5em) scale(2.5);
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color: #eee;
		background: #222;
	}

	a {
		color: #8bf;
	}

	code, pre {
		background: #444;
	}

	dt .var {
		color: #8fc;
	}

	footer {
		border-color: #555;
	}
}

@media (max-width: 400px) {
	h1 {
		text-align: center;
	}

	h2, h3 {
		margin: 1em 0 .25em;
	}

	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 1.4em;
	}

	dd {
		margin-left: 1.6em;
	}

	dd ul {
		padding-left: 1em;
	}
}
